* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1a1814;
    color: #cda45e;
}

/* Navbar */
.navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    gap: 20px;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    width: 60px;
    height:60px;
}

.brand h2 {
    letter-spacing: 3px;
}

.nav-menu ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    justify-content: end;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #cda45e;
    font-size: 20px;
    padding: 15px;
}

.nav-menu ul li a:hover {
    columns: white;
    background-color: #cda45e;
    border-radius: 5px;
}

/* Hero Image */
.hero-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;


    /* for text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text {
    font-size: 2em;
    font-weight: bold;
}

.hero-text p {
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 20px 30px;
    background-color: #cda45e;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #917543;
}






/* Signature */
.signature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}

.signature-img {
    width: 100%;
    height: auto;
}

.signature-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menu-heading {
    font-size: 3em;
    color: white;
}

.menu-about {
    margin: 30px 0;
    font-size: 1.3em;
}

/* About Kyaw Cafe` */
.about {
    background-image: url('../images/home-about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
    background-attachment: fixed;

    /* for text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 200px;
}



/* Special Menu */
.special {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}

.special-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.special-img {
    width: 100%;
    height: auto;
}

/* Silone Tea */
.silone-tea {
    background-image: url('../images/silonetea-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    text-align: center;
}

.silone-tea-img {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
}
/* Our Popular Menu */
.our-menu-title {
    margin: 100px 0 50px 0;
    font-size: 3em;
    color: white;
    text-align: center;
}

.our-menu {
    display: grid;
    grid-template-columns: repeat (5,1fr);
    column-gap: 20px;
    margin: 0 70px; 
}

.item-img {
    width: 100%;
    height:auto;
}


.menu-item {
    background-color: #26231d;
    border-radius: 10px;
    overflow: hidden;
}

.menu-content {
    padding: 20px;
    text-align: center;
}

.menu-content .item-name {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.menu-content .item-price {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}














/* contact form */
.form-group{
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}


.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1a1814;

}

/* footer */
.footer {
    background-color: black;
    padding: 50px;
    color: white;
    text-align: center;
}

.footer-title {
    font-weight: bold;
}

.footer .dev {
    text-decoration: none;
    color: #cda45e;
    font-weight: bold;
}